body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
}

#forest {
  width: 100%;
  height: 100vh;
  background: url('https://wallpapertag.com/wallpaper/middle/6/2/2/572651-pokemon-forest-background-1920x1200-samsung.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}
